<div id="page-content">
  <h2 class="text-center mt-4"><%= @article.title %></h2>
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col-8 mt-4">
        <div class="card text-center shadow mb-5 bg-white rounded">
          <div class="card-header font-italic">
            <%= link_to @article.user.username, user_path(@article.user) %>
          </div>
          <div class="card-body">
            <% if @article.file.attached? %>
              <% if @article.file.content_type.start_with?('image/') %>
                <%= link_to image_tag(@article.file, width: 540, height: 300), url_for(@article.file) %>
              <% elsif @article.file.content_type.start_with?('video/') %>
                <%= video_tag(url_for(@article.file), controls: true, loop: true, width: 640, height: 360) %>
              <% elsif @article.file.content_type.start_with?('audio/') %>
                <%= audio_tag(url_for(@article.file), controls:true,  muted: true) %>
              <% end%>
            <% end %>
            <div class="card-text text-left"><%= simple_format(@article.description) %></div>
            <% if logged_in? && (@article.user == current_user || current_user.admin?)%>
              <%= link_to "Edit", edit_article_path(@article), class: "btn btn-outline-info" %>
              <%= button_to "Destroy this article", @article, method: :delete %>
            <%end%>
          </div>
          <div class="card-footer text-muted">
            <small>Created <%= time_ago_in_words(@article.created_at) %> ago, 
            edited <%= time_ago_in_words(@article.updated_at) %> ago</small>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>