<div id="page-content">
  <h1 class="text-center mt-4"><%= @user.username %></h1>
</div>
<div class="text-center mt-4">
  <% if @user.profile_pic.content_type.in?(%w[image/jpg, image/png]) %>
    <%= link_to image_tag(@user.profile_pic_as_thumbnail), @user.profile_pic if @user.profile_pic.attached? %>
  <% end %>
</div>
<% if logged_in? && @user == current_user %>
  <div class="text-center mt-4">
    <%= link_to "Edit your profile", edit_user_path(@user), class: "btn btn-outline-info" %>
  </div>
<%end%>
<%= render 'articles/article' %>

<div class="flickr_pagination">
  <%= will_paginate @articles, :container => false %>
</div>