<!DOCTYPE html>
<html>
  <head>
    <title>Userauth</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "custom", "data-turbo-track": "reload" %>
    <%# <%= javascript_importmap_tags %>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.min.js"></script>
    <head>
  <!-- Add this line to include Font Awesome -->
    <%= stylesheet_link_tag 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css', media: 'all', 'data-turbo-track': 'reload' %>
</head>


  </head>

  <body>
    <%= render 'layouts/navbar' %>
    <div id="page-content">
      <%# <%= render 'layouts/message'%>
      <%= yield %>
    </div>
  </body>
</html>
